In [20]:
import pandas as pd
import numpy as np

In [21]:
from sklearn import datasets, linear_model
from sklearn.model_selection import LeaveOneOut, cross_val_score, KFold, train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from matplotlib import pyplot as plt

In [22]:
X = pd.read_csv('datasets/Classification/Data2/TrainData2.txt', sep='\s+', header=None)
y = pd.read_csv('datasets/Classification/Data2/TrainLabel2.txt', header=None)
print('X.shape:' + str(X.shape))
print('y.shape:' + str(y.shape))

X.shape:(100, 9182)
y.shape:(100, 1)

In [23]:
y.isnull().any().any()

False

In [24]:
# fill missing values
X = X[X < 1e99]
# linear
X = X.interpolate()
# fill outside values with mean
X = X.fillna(X.mean())
X.head()

,0,1,2,3,4,5,6,7,8,9,...,9172,9173,9174,9175,9176,9177,9178,9179,9180,9181
0,2.357935,1.505150,1.477121,1.301030,2.992995,1.30103,2.729974,3.275542,3.531734,2.117271,...,1.531479,1.792392,2.000000,1.477121,1.919078,1.755875,2.025306,2.107210,1.869232,1.30103
1,1.995635,1.633468,1.740363,1.819544,3.703377,1.30103,3.000434,3.118926,3.363424,1.568202,...,1.755875,2.064458,1.431364,1.633468,1.954242,1.913814,2.685742,2.952308,1.959041,1.30103
2,1.929419,1.301030,1.447158,1.301030,3.377852,1.30103,3.053463,3.390405,3.359836,1.707570,...,1.982271,2.198657,1.301030,1.707570,2.041393,1.934499,1.792392,1.880814,1.963788,1.30103
3,2.227887,1.602060,1.556302,1.908485,3.424392,1.30103,3.084219,3.288696,3.364176,1.301030,...,1.792392,2.204120,1.633468,1.716003,1.913814,2.130334,1.778151,1.838849,1.949390,1.30103
4,1.763428,1.623249,1.301030,2.029384,3.551694,1.30103,3.165541,3.141450,3.495128,1.886491,...,1.301030,1.785330,2.201397,1.623249,1.863323,1.913814,1.778151,1.698970,1.869232,1.30103

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, shuffle=True)

In [26]:
X_train.shape

(90, 9182)

## KNN(Distance Weighted, Euclidian Distance) ##

In [30]:
knn = KNeighborsClassifier(n_neighbors=3, weights='distance')

In [31]:
# Cross Validation
kf = KFold(n_splits=10, shuffle=True)
for train_index, test_index in kf.split(X_train):
    X_train_split, y_train_split = X_train.iloc[train_index], y_train.iloc[train_index]
    X_valid_split, y_valid_split = X_train.iloc[test_index], y_train.iloc[test_index]
    knn.fit(X_train_split,y_train_split.values.flatten())
    print(knn.score(X_valid_split, y_valid_split))

0.6666666666666666
0.8888888888888888
1.0
1.0
0.7777777777777778
0.6666666666666666
1.0
0.8888888888888888
0.8888888888888888
0.6666666666666666

In [32]:
# whole dataset, 90% train, 10% test
knn.fit(X_train, y_train.values.flatten())
knn.score(X_test, y_test)

1.0